/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #FBF2EC;
  color: #333;
  margin: 0;
  padding: 0;
  }

  /* Header Styles */
  h1, h2, h3 {
  color: #F05A27;
  border-bottom: 2px solid #F05A27;
  padding-bottom: 5px;
  margin-bottom: 15px;
  }

  h1 {
  font-size: 2.5rem;
  margin-top: 20px;
  }

  h2 {
  font-size: 2rem;
  }

  h3 {
  font-size: 1.5rem;
  }

  /* Code Block Styles */
  pre, code {
  background-color: #272727;
  color: #EFF0F0;
  padding: 10px;
  border-radius: 5px;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  }

  code {
  background-color: #333;
  color: #F5801E;
  padding: 3px 6px;
  border-radius: 4px;
  font-size: 0.95rem;
  }

  pre {
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  line-height: 1.5;
  }

  /* Markdown Link Styles */
  a {
  color: #F5801E;
  text-decoration: none;
  border-bottom: 1px solid #F5801E;
  }

  a:hover {
  color: #EE2828;
  border-bottom: 1px solid #EE2828;
  }

  /* Table Styles */
  table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  }

  th, td {
  border: 1px solid #D5D5D6;
  padding: 8px;
  text-align: left;
  }

  th {
  background-color: #F2F2F2;
  }

  /* Button-like Link Styles */
  button, .interactive-link {
  background-color: #F5801E;
  color: #fff;
  padding: 10px 15px;
  text-align: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  }

  button:hover, .interactive-link:hover {
  background-color: #EE2828;
  }

  /* Blockquote Styles */
  blockquote {
  background-color: #F0F0F0;
  padding: 10px 20px;
  border-left: 4px solid #F5801E;
  font-style: italic;
  margin: 15px 0;
  }

  /* Practice Section Styles */
  .practice-section {
  background-color: #E9F7FE;
  border: 2px solid #B0E0F0;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  }

  .practice-section h3 {
  color: #F05A27;
  }

  /* Header with Gradient Starting After Image */
  .header {
  display: flex;
  align-items: center;
  padding: 20px;
  height: 100px;
  border-bottom: 2px solid #F05A27;
  position: relative;
  overflow: hidden;
  }

  .header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 80px; /* Assuming the image width is around 80px */
  width: calc(100% - 80px);
  height: 100%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #FBF2EC 100%);
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  }

  /* Logo Styling */
  .header img {
  height: 80px;
  margin-right: 20px;
  z-index: 1;
  }

  .curricula {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  }

  .course {
  display: flex;
  }